body
{
    position: relative;
    height: 800px;
    width: 97%;
    font-size:1.1em;
    background-color:#E0D6CC;
    color:#522900;
}

.right
{
    float:right;
}

.left
{
    float:left;
}

.position-relative
{
    position: relative;
    width: 100%;
    height: 100%;
}

div.header
{
    padding:2px;
    border-radius:5px;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    height: 6.6em;
    
    background-color:#B29980;
}

div.header div div.title
{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:5em;
    vertical-align:middle;
    text-align:center;
}

div.header div div.link-bar
{
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height:2em;
    vertical-align:middle;
    text-align:center;
}

div.header div div.link-bar a
{
    border:2px solid #663300;
    margin:2px 3px 2px 3px;
    padding:3px 12px 3px 12px;
    background:#663300;
    border-radius:18px;
    cursor:pointer;
    color:#855C33;
}

div.header div div.link-bar a.selected
{
    border:2px solid black;
}

div.header div div.link-bar a:hover
{
    border:2px solid #94704D;
    background:#754719;
    color:#663300;
}


div.content
{
    border: 1px solid #3D1F00;
    left: 1px;
    right: 1px;
    top: 7em;
    bottom: 1em;
    position: absolute;
    overflow:auto;
    border-radius:5px;
}

div.content-item
{
    border:1px solid #3D1F00;
    position:relative;
    min-height:4em;
    padding:2px;
    margin:5px;
    border-radius:5px;

    background: #C2AD99; /* Old browsers */
}

div.content-item-title
{
    height:1.4em;
    margin:2px;
    border-radius:4px;
    padding:1px;
    
    background-color: #B29980;
}

div.content-item-title-text
{
    font-size:1.1em;
    font-weight:bold;
    padding:1px 0px 1px 2px;
    color:#3D1F00;
}

div.content-item-title-date
{
    font-size:1.1em;
    font-weight:bold;
    padding:1px 2px 1px 0px;
    color:#3D1F00;
}


div.content-item-body
{
    margin-left:8px;
    padding-top:3px;
    padding-bottom:3px;
}

div.content-item-comment
{
    position:relative;
    min-height:4em;
    padding:2px;
    margin:5px;
    border-radius:5px;
    font-size:.91em;
    background: #A38566; /* Old browsers */
}

div.content-item-comment span
{
    font-size:.95em;
    font-weight:bold;
    font-style:italic;
    color:Black;
}

div.content-item-comment-body
{
    margin-left:8px;
    padding-top:3px;
    padding-bottom:3px;
}

div.content-item-footer
{
    height:.74em;
    padding:0px;
    margin:0px;
}

div.content-item-footer a
{
    color:#754719;
    font-style:italic;
    cursor:pointer;
    font-size:.76em;
    margin:0px;
    padding:0px;
    padding-right:5px;
}

div.footer
{
    border: 1px solid #3D1F00;
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 1px;
    height: 1em;
}

